@import url('https://fonts.googleapis.com/css?family=PT+Sans:400');


.desktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1400px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktop .maincontent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 448px;
  height              : 958px;
  width               : 1128px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : 388px;
  width               : 1120px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .education1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 388px;
  box-sizing          : border-box;
  width               : 1120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .webdev {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : 101px;
  width               : 374px;
  position            : absolute;
  margin              : 0;
  left                : 691px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .webdev .lehiutcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 43px;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 177px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .webdev .a012020present {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 21px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .webdev .webprogrammingde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 374px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .webdev .mountainlandtechniccopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 29px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .intro {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : 101px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 695px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .intro .lehiut {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 43px;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 177px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .intro .a082019102019 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 21px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .intro .introductiontoprog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .intro .mountainlandtechnic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 29px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .arizonastate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : 79px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .arizonastate .online {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 21px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .arizonastate .a082010052012 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 21px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .arizonastate .associatesinbusine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .arizonastate .arizonastateuniver {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 29px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .artinstitute {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : 79px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .artinstitute .online {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 21px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .artinstitute .a082005052009 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 21px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .artinstitute .bacheloru2019singraphi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .artinstitute .theartinstitute {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 29px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .education .educationandcertif {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PlantagenetCherokee", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 109, 126, 1.0);
  text-align          : justify;
  line-height         : 30.0px;
}
.desktop .maincontent .experience {
  background-color    : rgba(255,255,255,0.0);
  top                 : 283px;
  height              : 261px;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 574px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .experience .experience2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 261px;
  box-sizing          : border-box;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .experience .spearheadingcustome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 142px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PT Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(47, 47, 47, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.desktop .maincontent .experience .adviseuppermanagem {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PT Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(47, 47, 47, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.desktop .maincontent .experience .projectmanagerqual {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : 78px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .experience .rectangle {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 146px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .experience .rectangle1 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 164px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .experience .communicatewithco {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PT Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(47, 47, 47, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.desktop .maincontent .experience .rectangle2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 184px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .experience .experience1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PlantagenetCherokee", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 109, 126, 1.0);
  text-align          : justify;
  line-height         : 30.0px;
}
.desktop .maincontent .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 283px;
  height              : 261px;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .contact1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 261px;
  box-sizing          : border-box;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .laceycrenshawgithu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : 21px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .github .fill11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .laceythemomicloudc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 43px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .apple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 168px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .apple .back {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .apple .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 20px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .laceycrenshaw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : 21px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .whatsapp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .whatsapp .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .whatsapp .page1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .contact .contactme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PlantagenetCherokee", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 109, 126, 1.0);
  text-align          : justify;
  line-height         : 30.0px;
}
.desktop .maincontent .skills {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 261px;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 574px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .skills2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 261px;
  box-sizing          : border-box;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .webdevelopmentmark {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 153px;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : 8px;
  box-sizing          : border-box;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : 8px;
  box-sizing          : border-box;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 254px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 8px;
  box-sizing          : border-box;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 8px;
  box-sizing          : border-box;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle4 {
  background-color    : rgba(255, 109, 126, 1.0);
  top                 : 200px;
  height              : 8px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle5 {
  background-color    : rgba(255, 109, 126, 1.0);
  top                 : 156px;
  height              : 8px;
  width               : 263px;
  position            : absolute;
  margin              : 0;
  left                : 254px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle6 {
  background-color    : rgba(255, 109, 126, 1.0);
  top                 : 112px;
  height              : 8px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .rectangle7 {
  background-color    : rgba(255, 109, 126, 1.0);
  top                 : 68px;
  height              : 8px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .skills .skills1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PlantagenetCherokee", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 109, 126, 1.0);
  text-align          : justify;
  line-height         : 30.0px;
}
.desktop .maincontent .personalprofile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 261px;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .personalprofile .personalbio {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 261px;
  box-sizing          : border-box;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .personalprofile .selfmotivedwebdev {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 87px;
  width               : 512px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .maincontent .personalprofile .personalprofile1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PlantagenetCherokee", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 109, 126, 1.0);
  text-align          : justify;
  line-height         : 30.0px;
}
.desktop .hero {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 439px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .mainbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 271px;
  height              : 49px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 1015px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .mainbutton .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 49px;
  width               : 189px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .mainbutton .button .button1 {
  background-color    : rgba(251, 137, 150, 1.0);
  top                 : 0px;
  height              : 49px;
  box-sizing          : border-box;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .mainbutton .button .portfolio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PT Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(244, 244, 244, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}